<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.dao.FoodMapper">

    <delete id="deleteFoodByID" parameterType="Integer">
        DELETE FROM food WHERE food_id = #{food_id};
    </delete>

    <update id="updateFood" parameterType="com.itheima.domain.Food">
        update food
        <set>
            <if test="title != null and title!=''">
                food_title=#{title},
            </if>
            <if test="description != null and description!=''">
                food_des=#{description},
            </if>
            <if test="imageUrl != null and imageUrl!=''">
                food_imgurl=#{imageUrl},
            </if>
            <if test="price != null and price!=''">
                food_price=#{price},
            </if>
        </set>
        where food_id = #{id}
    </update>

</mapper>