<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.dao.StoreMapper">


    <delete id="deleteStoreByID" parameterType="Integer">
        DELETE FROM store WHERE store_id = #{store_id};
    </delete>

    <update id="updateStore" parameterType="com.itheima.domain.Store">
        update store
        <set>
            <if test="title != null and title!=''">
                store_title=#{title},
            </if>
            <if test="description != null and description!=''">
                    store_des=#{description},
            </if>
            <if test="imageUrl != null and imageUrl!=''">
                    store_imgurl=#{imageUrl},
            </if>
        </set>
        where store_id = #{id}
    </update>
    <insert id="addStore" parameterType="com.itheima.domain.Store">
        <selectKey keyProperty="id" resultType="Integer" order="BEFORE">
            SELECT IF(MAX(store_id) IS NULL,1,MAX(store_id)+1) as newId FROM store
        </selectKey>
        INSERT INTO store VALUES(#{id},#{userID},#{title},#{description},#{imageUrl})
    </insert>
</mapper>